{{ "<!-- Events Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
  <div class="events-modal modal fade" id="eventsModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>{{ .title  | markdownify }}</h2>
              <h4 class="text-muted">{{ .date | dateFormat "02 Jan 2006" }}</h4>
              <br>
              {{ $url := printf "img/events/%s" .img }}
              <img class="img-responsive img-centered" data-src="{{ $url | absURL }}" alt="">
              <p>{{ .description | markdownify }}</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.events.modal.buttonText }}{{ . }}{{ end }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
